body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

div{
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
img {
    max-width: 50%;
    height: auto;
}

.btn {
    width:40%;
}

@media screen and (max-width:600px) {
    .btn {
        width: 100%;
    }

    img{
        max-width: 100%;
    }

    body{
        background-image: url("../images/background-vertical.jpg");      
    }
}